@import "tailwindcss";


:root {

}
@theme {
  --color-primary: #767101;
   --color-secondary: #C2B27F; 

}


@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
   font-family: var(--font-montserrat), sans-serif; /* default body font */
}

.horizon-text {
  font-family: var(--font-horizon), sans-serif; /* optional Horizon font */
}

.container {
  max-width: 1280px;
  margin: 0 auto;        /* center the container */
  padding: 75px 20px;    /* top/bottom 75px, left/right 20px */
}