@import "tailwindcss";


:root {

}
@theme {
  --color-primary: #767101;
   --color-secondary: #C2B27F; 

}


@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
   font-family: var(--font-montserrat), sans-serif; /* default body font */
}
/* ANIMATION  */
.horizon-text {
  font-family: var(--font-horizon), sans-serif; /* optional Horizon font */
}
.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@keyframes floatY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.float-on-hover {
  animation: floatY 2.2s ease-in-out infinite;
  animation-play-state: paused; /* stop by default */
  will-change: transform;
}

.group:hover .float-on-hover {
  animation-play-state: running; /* start when parent card hovered */
}


.container {
  max-width: 1120px;
  margin: 0 auto;        /* center the container */
  padding: 75px 20px;    /* top/bottom 75px, left/right 20px */
}
@media (max-width: 767px) {
.container {
    max-width: 100%;  
  margin: 0 auto;        /* center the container */
  padding: 30px 15px;    /* top/bottom 75px, left/right 20px */
}
}

.banner-heading-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin:  0 auto;
}

.banner-heading-top {
  will-change: transform;
  transform: translate3d(-0.00%, 0, 0);
  transform-style: preserve-3d;
  color: #000; /* darker top layer */
}

.banner-heading-bottom {
  will-change: transform;
  transform: translate3d(0.00%, 0, 0);
  transform-style: preserve-3d;
  color: #000; /* lighter bottom layer */
}

.will-change-transform { will-change: transform; }
/* globals.css */
.will-change-transform { will-change: transform; }
.banner-heading-wrapper h1 { line-height: 1.1; } /* prevent accidental wrap/overlap */









